<html>
    <head>
        <title>Products</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
    <div class="container">
        <h2>List of products:</h2>
    {% for product in result %}
        <b>Id:</b> {{ product.get("id") }}<br>
        <b>Description:</b> {{ product.get("description") }}<br>
        <b>Price:</b> {{ product.get("price") }}<br>
        <b>Product Image:</b> {{ product.get("image") }}<br>
        <b>Edited by:</b> {{ product.get("edited_by_login") }}<br>
        <hr>
    {% endfor %}
    </div>
    </body>
</html>