<html>
    <head>
        <title>Reviews</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
    <div class="container">
        <h2>List of reviews:</h2>
    {% for review in result %}
        <b>Id:</b> {{ review.get("id") }}<br>
        <b>Client login:</b> {{ review.get("client_login") }}<br>
        <b>Date and time:</b> {{ review.get("date_time") }}<br>
        <b>Text:</b> {{ review.get("text") }}<br>
        <hr>
    {% endfor %}
    </div>
    </body>
</html>